---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&piprop=original&prop=pageimages&redirects=1&titles=%7C%7C%7C
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 23.119.166.17
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"-1":{"title":"","invalidreason":"The
        requested page title is empty or contains only the name of a namespace.","invalid":""}}}}'
  recorded_at: Wed, 17 Mar 2021 19:02:20 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&piprop=original&prop=pageimages&redirects=1&titles=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 23.119.166.17
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":""}'
  recorded_at: Wed, 17 Mar 2021 19:02:20 GMT
recorded_with: VCR 6.0.0
